{% extends "::base.html.twig" %}

{% block title %}Admin - Les posts{% endblock %}

{% block body %}
    <h1>Admin - Les posts</h1>
    <a href="{{ path('admin_add_post') }}" class="btn btn-primary" role="button">Ajouter un post</a>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Publié</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <th scope="row">{{ post.id }}</th>
                <td>{{ post.title }}</td>
                <td>
                    {% if post.isPublished %}Oui{% else %}Non{% endif %}
                </td>
                <td>
                    <a href="{{ path('view_post', {idPost: post.id}) }}" class="btn btn-primary btn-sm">Voir</a>
                    <a href="{{ path('admin_update_post', {idPost: post.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
                    <a href="{{ path('admin_delete_post', {idPost: post.id}) }}" class="btn btn-danger btn-sm">X</a>
                </td>
            </tr>
        {% endfor %}
         </tbody>
    </table>
{% endblock %}
